.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__background{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: white url(/build/images/bg.bc12b801.jpg) no-repeat center center/cover;
    filter: blur(8px);
    opacity: 0.7;
  }
}