.fc-v-event{
    border: none !important;
    background-color: unset !important;
}

.planda-event{
    &__selected{
        background-color: red;
    }

    background-color: blue;
}

.fc{
    margin-bottom: 1rem;
}